.venv


__pycache__
.pytest_cache


*.egg-info*


github-hosted-pypi


# Microsoft Visual Studio Community 2026 
*.vsidx
*.suo
*.VC.db*
*.VC.opendb
*.tlog
.vs
*.ilk
*.log
*.obj
*.exe
Debug


# add 'libs/visual-studio-example-c/hello/CMakeProject1/out/build/x64-debug/CMakeFiles/rules.ninja'
build
prog