[project]
name = "play-note"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pyarrow>=22.0.0",
]

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
