*.mp3
*.img
*.flac
*.wav
*.jpg
*.png
*.7z
*.txt
*.sfz


# https://www.spriters-resource.com/nes/chessmaster/
!NES - The Chessmaster - Miscellaneous - Chessmen.png
!NES - The Chessmaster - Miscellaneous - Chess Board.png

!pacman_letters.png
!pac_board.png

!Game Boy _ GBC - Blade - Playable Characters - Blade.png


# https://www.spriters-resource.com/ms_dos/windows31/asset/475612/
!MS-DOS - Windows 3.1 - Miscellaneous - Cursor.png

!&.mp3
!/chesspieces/wikipedia/*
!.gitignore

# Python 2.7.x is required. (Conversion to Python 3 should be trivial if needed.) Add the top-level directory (the folder containing this file) to the PYTHONPATH, e.g. from a bash shell:



# https://github.com/ajjackson/pysfz
# https://freepats.zenvoid.org/Piano/acoustic-grand-piano.html



# pitch shift files in build
# assets/build


#https://samplefocus.com/categories/piano

# https://musescore.org/en/node/13216

# https://freepats.zenvoid.org/Piano/acoustic-grand-piano.html



# This is a generic platform png without any defined patterns.
# I want something like four tiles repeating for ground.
# I want bellow ground etc.
# A script should take this basic platform and apply colors for the surface, subsurface, cieling etc.
!basic_platform.png


!mega_man_2_tiles.png


# https://www.spriters-resource.com/snes/tetrisattack/asset/68548/
!tetris_attack_blocks.png



# msys
# russj@beam UCRT64 /c/Users/russj/dev/python-misc/libs/sound/vgmplay-legacy/VGMPlay
# $ make WINDOWS=1 && ./vgmplay.exe ../02\ Game\ Start\ Music.vgz
#  make WINDOWS=1 && ./vgm2wav.exe ../02\ Game\ Start\ Music.vgz ../../../../assets/galaga_start.wav



#https://www.humblebundle.com/downloads?key=kahDtNW2TVkxVdkK
300futuristicsfx.zip

# assets\300futuristicsfx\SFX2020\MiniLaserAttack3.wav


!8bitmegaman.png