
# https://graphite.com/guides/github-actions-on-pull-requests
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    paths:
      - 'airflow/**'

defaults:
  run:
    shell: bash
    working-directory: ./airflow

# uv run airflow db reset -y
# uv run airflow cheat-sheet
jobs:
  uv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v6

      - run: uv sync --all-extras --dev --locked

      - run: uv run airflow db reset -y
      - run: uv run airflow cheat-sheet
      # - run: uv run airflow api-server     
      # - run: uv run dag-processor
      # - run: uv run scheduler
      # - run: uv run triggerer