
# https://graphite.com/guides/github-actions-on-pull-requests
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    paths:
      - 'pygame/galaga/**'

defaults:
  run:
    shell: bash

# https://github.com/libsdl-org/SDL/issues/10947
jobs:
# https://github.com/docker/build-push-action
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build Only
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false