
# https://graphite.com/guides/github-actions-on-pull-requests
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    paths:
      - 'lib-sprites/**'

defaults:
  run:
    shell: bash
    working-directory: ./lib-sprites

# https://github.com/libsdl-org/SDL/issues/10947
jobs:
  test:
    env:
      SDL_VIDEODRIVER: "dummy"
      SDL_AUDIODRIVER: "disk" # Or "dummy" if no audio output is needed at all
      FPS: "300"
      MAX_TEST_LOOPS: "10"
    name: python
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
      # no  --locked on lib package
        run: uv sync --all-extras --dev


# https://github.com/russjohnson09/python-misc/actions/runs/20198845301/job/57986769443
# CRITICAL: You are using the SDL disk i/o audio driver!
# CRITICAL:  Writing to file [sdlaudio.raw].
# double free or corruption (out)
# Fatal Python error: Aborted

# Current thread 0x00007f367e529740 [pytest] (most recent call first):
#   File "/home/runner/work/python-misc/python-misc/lib-sprites/tests/conftest.py", line 72 in get_screen_nes
#       - name: Run tests
#         run: SOME_MISC_ENV_VARIABLE=120 uv run pytest -s
      - name: Run tests
        run: uv run pytest -s