
# https://graphite.com/guides/github-actions-on-pull-requests
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    paths:
    # libs\lib-inputs\tests\test_input_handler.py
      - 'libs/lib-inputs/**'

defaults:
  run:
    shell: bash
    working-directory: ./libs/lib-inputs

# https://github.com/libsdl-org/SDL/issues/10947
jobs:
  test:
    env:
      IS_CI_TEST: "1"
    name: python
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Run tests
        run: uv run pytest -s